/* 
    
    <html>
    <body>
    wrapper
        header 
            container_header
        nav
        banner/slider
        container
            sidebar
                header_sidebar
                content_sidebar
            main
                header_main
                content_main
        footer
            container_footer
    <body>
    </html>
*/



/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* Dùng chung */
.text-white{
    color: #fff !important;
}
.text-black{
    color: #000 !important;
}

.row{

}
.row::after{
    content:"";
    display: flex;
    clear: both;
}
.col{
    float: left;
}
.col-1{
    width: 100%;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 33.33333%;
}
.col-4{
    width: 25%;
}
.col-5{
    width: 25%;
}
.clear{
    clear: both;
}
body{
}
#wrapper{
    background-color: #f0f0f0;
}
/* Heade */

/* nav */
.nav{
    background-color: #2589f4;
    position:relative;
    top: 80px;
    left: 0;
    right: 0;
    /* bottom: 0; */
    text-align: center;
    height: 44px;
    line-height: 44px;
    /* margin-bottom: 20px; */
}
.nav p{
    font-family: "Inter", sans-serif;
    display: inline;
    text-align: center;
}
/* main */
.main{
    margin-top: 96px;
    margin-right: auto;
    margin-left: auto;
    width: 1270px;
    background-color: #fff;
    padding-bottom: 12px;
}
/* sidebar-left */
.main .sidebar-left{
    width: 15%;
    float: left;
}
.main .sidebar-left .heading-danhmucsach{
    background-color: #00cc66;
    padding: 8px 16px 8px 28px;
    border-bottom:#f0f0f0 1px solid ;
    font-weight: 500;
    text-transform: uppercase;
}
.main .sidebar-left .li-danhmucsach{
    padding: 8px 16px 8px 28px;
    border-bottom:#f0f0f0 1px solid ;
    cursor: pointer;
}
.main .sidebar-left .li-danhmucsach:hover{
    background-color: #f0f0f0;
    border: #000 1px solid;
}
.main .sidebar-left .btn-khoangGia{
    cursor: pointer;
    color: rgb(36, 36, 36);
    border-radius: 12px;
    margin-bottom: 4px;
    padding: 2px 12px;
    line-height: 20px;
    display: inline-block;
}
.main .sidebar-left .ipt-khoangGia{
    width: 84px;
    height: 30px;
    padding: 0px 8px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    text-align: left;
    border: 1px solid rgb(184, 184, 184);
    outline: 0px;
    font-size: 13px;
    margin:4px 0px 0 3px;
}
/* map */
#blockMap{
    padding: 10px 20px;
    background-color: #ccc;
    margin-bottom: 15px;
}
/* content */
.main .content{
    border-left: #f0f0f0 1px solid;
    padding-left: 4px;
    padding-right: 4px;
}

/* card product */
.content .product{
    padding-top: 10px;
}
#layoutGroup1 .block h2 {
    background: #f2f2f2;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    height: 38px;
    margin: 4px 10px 25px;
}
#layoutGroup1 .block h2 a.title {
    position: relative;
    font-size: 18px;
    line-height: 38px;
    font-weight: bold;
    color: #fff;
    background: #00cc66;
    padding: 9px 20px 9px 15px;
    text-transform: capitalize;
    margin: 0;
    border-radius: 0 50% 50% 0;
}
#layoutGroup1 .block h2 a.more {
    font-size: 14px;
    color: #595959;
    float: right;
    padding: 8px 20px;
}
#layoutGroup1 .block h2 a.more:hover
{
	color:#00cc66
}
.content .card{
    display: block;
    margin: 4px 10px 25px;
    background-color: #ccc;
    /* border: 1px black solid; */
    border-radius: 5px;
    padding: 12px 12px 0 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.content .card:hover{
    background-color: #ccc;
}
.card .img{
    padding-bottom: 10px;
}
.card .img img:hover{
    cursor: pointer;
    top: 0px;
}
.card .img img{
    width: 100%;
    height: 280px;
    transition: 0.4s ease-in-out;
    position: relative;
    top: 10px;
}
.content .tensp{
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    height: 52px;
}
.content .tensp:hover{
    color: #00cc66;
}
.content .giasp{
    /* text-align: center; */
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
    padding: 4px 0;
}
.content .giasp p{
    color: #FF424E;
}
.content .muahang{
    padding-bottom: 10px;
}
.content .btn-cart:hover{
    color: #000;
    background-color: #00cc66;
}
.content .btn-cart{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
/* Phân trang */
.content .nutphantrang{
    text-align: center;
    margin-bottom: 24px;
}
.content .btn-phantrang{
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
}
.content .btn-phantrang:hover{
    background-color: rgb(179, 8, 8);
}
/* Banner */
#slider{
    
}
#banner{
    margin: auto;
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    padding: 0 10px 0;
    display: block;
    transition: 0.3s;
    position: relative;
}
#banner img{
    display: block;
    width: 100%;
    height: 100%;
}
.nut-slider{
    position: absolute;
    bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nut{
    height: 16px;
    width: 16px;
    background-color: #CCC;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.active{
    background-color: #000;
}  


